.post {

   width: 50vw;
   background-color: transparent;
   box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
   -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
   -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);


   .container {
      background-color: darkblue;
      min-width: fit-content;

      .user {

         img {
            width: 3rem;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
         }

         .date {
            font-size: .8rem;
         }
      }

      .info {

         .item {
            cursor: pointer;
         }

      }


   }

}

.no-thoughts {
   justify-content: center;
   align-items: center;
   text-align: center;
   min-width: 60vw;
}