body {
    background-image: url("https://i.postimg.cc/vmwTKTd4/shutterstock-black-design-how-to-black-cover.jpg");
    background-attachment: fixed;
     color: white;
}

input {
    background-color: gray;
}