.feed-container {

    display: inline-flex;
    // align-items: center;
    // flex-direction: row;
    
   

    .post-box{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 600px;
        
     
    }

    .feed{
       
        width: 600px;
        max-height: 500px;
    }

} 