.postbox{
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    display: flex;
    height: 15vh;

    .container{


    }
    .user{
        display: flex;
     

        .userinfo{
            display: flex;
           

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-top: 10px;
            }
            input {

                width: 10vw;
            }
    
        }
    }
    .info{
        display: flex;
         align-items: center;
         gap: 20px;
 
       .item{
           display: flex;
           align-items: center;
           gap: 10px;
           cursor: pointer;
           font-size: 14px;
 
       }
    }
    
    
}