.login {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .carding {
      width: 50%;
      display: flex;
      background-color:#FCDE53 ;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;
  
      .leftside {
        flex: 1;
        // background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        //   url("https://user-images.githubusercontent.com/119962472/224432749-b7eb5349-2fda-4977-809c-3893df02b585.png")
            
            background-color:#FCDE53;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
  
        h1 {
          font-size: 100px;
          line-height: 100px;
        }
        
       
  
        span {
          font-size: 14px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #FCDE53;
          color: rebeccapurple;
          font-weight: bold;
          cursor: pointer;
        }
      }
  
      .rightside {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
  
        h1 {
        color: #555;
        }
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          }
          
          button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: #938eef;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }